.title {
    &__big-blue {
        font-size: 6rem;
        color: $color-white;

        span { color: $color-secondary-dark };

        animation: moveInRight 2s ;
    }

    &__medium-blue {
        opacity: 1;
        font-size: 5rem;
        color: $color-white;

        span { color: $color-secondary-dark };

        animation: moveInUP 2s 1.5s;
        animation-fill-mode: backwards;
    }
}