.title {
    &__big-blue {
        font-size: 6rem;
        color: $color-white;

        span { color: $color-secondary-dark };

        animation: moveInRight 1s backwards;
    }

    &__medium-blue {
        opacity: 1;
        font-size: 5rem;
        color: $color-white;

        span { color: $color-secondary-dark };

        animation: moveInUP 1s 1s backwards;
    }
}

.text__grey {
    font-family: 'Open Sans', sans-serif;
    color: $color-blue-darkest;
    font-size: 1.3rem;

    &-subtitle { font-size: 1.5rem };
}