// COLORS

$color-primary: #282c34;
$color-primary-dark: #353a44;

$color-secondary: #61dafb;
$color-secondary-dark: #54d3f7;
$color-secondary-dark-2: #4bb8d6;

$color-blue: #107f9e;
$color-blue-dark: #16abd4;

$color-black: rgb(0, 0, 0);

$color-white: rgb(255, 255, 255);