.contacts {
    &__container {
        height: 100vh;
        width: 100%;
        position: relative;
        @include bgGradient(
            $color-primary,
            $color-primary,
            .95,
            .95,
            '../img/image-5.jpg'
        );
        background-position: center;
        background-size: cover;

        display: grid;
        grid-template-columns: repeat(2, minmax(min-content, 40rem));
        grid-template-rows: repeat(auto-fit, minmax(min-content, 20rem));
        grid-gap: 4rem;

        justify-content: center;
        align-content: center;
    }

    &__title {
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        z-index: 2;

        justify-self: center;
        align-self: center;

        font-size: 6rem;
        color: $color-white;
        border-bottom: 1px solid $color-white;
        animation: moveInDown .5s backwards;

        span {
            color: $color-secondary;
        }
    }

    &__social {
        margin: 3rem;

        ul {
            display: flex;
            flex-flow: column;
            list-style: none;
            font-size: 1.6rem;
            animation: moveInLeft .8s .5s backwards ease-out;

            a,
            a:visited { 
                color: $color-white;
                text-decoration: none;
                transition: color .2s;
            }

            li { 
                display: inline;
                padding: 1rem;
                transition: all .2s;
            }

            li:hover,
            a:hover { 
                color: $color-secondary;
                transform: translateX(1rem);
            }
        }
    }

    &__address {
        margin: 2rem;
        font-size: 1.2rem;
        color: $color-white;
        padding: 1rem;
        animation: appear .5s .7s backwards;

        justify-self: center;
        align-self: flex-start;
        border: 1px solid $color-white;
        
        &-subtitle { margin-bottom: .7rem };
        h3:last-child {
            margin-bottom: 1rem;
        }
    }

    &__cta,
    &__cta:visited {
        grid-column: 1 / -1;
        grid-row: 3 / 4;
        z-index: 2;

        justify-self: center;
        align-self: center;
        background-color: #1f212780;
        padding: 1rem;

        transition: all .2s;
        animation: moveInUp2 .5s .8s backwards;

        a {
            font-size: 3rem;
            color: $color-white;
            text-decoration: none;
            cursor: pointer;
            transition: all .2s;
        }
    }

    &__cta:hover {
        transform: scale(1.1);
    }
    &__cta a:hover {
        color: $color-secondary;
    }
}