.description {
    @include bgGradient(
        $color-primary, 
        $color-primary-dark,
        .8,
        .8,
        '../img/image-2.jpg'
    );

    background-position-x: center;
    background-size: cover;

    //-------------------------------
    // GERAL GRID
    
    display: grid;
    grid-template-columns: minmax(1fr, min-content);
    grid-template-rows: 30rem 50rem;

    @include respond(tab-port) {
        height: 100vh;
        background-position: center;
        grid-template-rows: auto;
        padding-bottom: 5rem;
    }

    @include respond(phone) {
        height: auto;
    }
    //-------------------------------
    // GRID-1, GRID-CARDS

    &__cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min-content, 25rem));
        grid-gap: 3rem;
       
        justify-content: center;
        margin: 5%;

        @include respond(tab-port) {
            margin: 10% 10% 4% 10%;
            grid-template-columns: repeat(auto-fit, minmax(min-content, 15rem));
        }

        @include respond(phone) {
            margin: 3rem 2rem;
            grid-template-columns: repeat(auto-fit, minmax(min-content, 30rem));
        }
    }

    //-------------------------------
    // GRID-2, GRID-ABOUT

    &__about {
        display: grid;
        grid-template-columns: repeat(5, minmax(min-content, 20rem));
        grid-template-rows: repeat(3, 15rem);

        justify-content: center;

        animation: moveInUp2 .5s .5s backwards;

        @include respond(tab-land) {
            margin: 0 5rem;
        }

        @include respond(phone) {
            grid-template-columns: repeat(3, minmax(min-content, 30rem));
            grid-template-rows: repeat(2, 20rem) 15rem 20rem;
            margin: 0 5%;
        }

        &-img,
        &-skills { box-shadow: $shadow-light };

        // IMAGE

        &-img {
            grid-column: 1 / span 2;
            grid-row: 1 / span 3;

            background-image: url('../img/image-4.jpg');
            background-size: cover;
            background-position: center;
            
            border-top-left-radius: $border-radius-smallest;
            border-bottom-left-radius: $border-radius-smallest;

            overflow: hidden;

            @include respond(tab-land) {
                background-position-x: .3rem;
            }

            @include respond(phone) {
                background-position: center;
                grid-column: 1 / span 3;
                grid-row: 1 / 2;

                border-top-right-radius: $border-radius-smallest;
                border-bottom-left-radius: 0;
            }
        }

        // DESCRIPTION ( TEXT )

        &-text {
            grid-column: 3 / span 3;
            grid-row: 1 / 3;

            padding: $padding-medium;

            border-top-right-radius: $border-radius-smallest;
            background-color: $color-white;

            z-index: 1;

            @include respond(phone) {
                grid-column: 1 / span 3;
                grid-row: 2 / 3;
                border-top-right-radius: 0;

                p { font-size: 1.5rem };
            }
        }

        // SKILLS

        &-skills {
            grid-column: 3 / span 3;
            grid-row: 2 / span 2;

            padding: $padding-medium;
            
            border-bottom-right-radius: $border-radius-smallest;
            background-color: $color-white;
            
            z-index: 1;

            ul {
                list-style: none;
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(9rem, min-content));

                @include respond(phone) {
                    justify-content: center;
                    align-content: center;
                }
            };

            li {
                background-color: $color-blue-darkest;
                color: $color-white;
                border-radius: 2rem;
                padding: 1rem;
                margin: 1rem;
                transition: all .2s;
            }

            li:hover { 
                transform: translateY(-.5rem);
                @include respond(tab-land) {
                    transform: translateY(0);
                }
            }

            @include respond(phone) {
                grid-column: 1 / span 3;
                grid-row: 3 / span 2;
                border-bottom-left-radius: $border-radius-smallest;
            }
        }
    }
}