.portfolio {
    &__container {
        min-height: 100vh;
        width: 100%;

        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: 20vh auto;

        background-image: linear-gradient(
            to right bottom, 
            $color-grey-light, 
            $color-grey-dark
        );
    }

    &-title {
        justify-self: center;
        align-self: center;

        h1 {
            font-size: 6rem;
            @include secondaryFont;
            color: $color-white;
        }
    }

    &__list-container {
        height: 100%;
        width: 100%;
        
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min-content, 25rem));
        grid-template-rows: repeat(auto-fit, minmax(min-content, 40rem));
        grid-gap: 2rem;
        
        justify-content: center;
        
        padding: $padding-medium;
        transition: all .2s;
    }

    &__item {
        height: 100%;
        width: 100%;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, minmax(min-content, 10rem));
        
        text-align: center;

        box-shadow: $shadow-light;
        border-radius: .5rem;
        background-image: linear-gradient(
            to bottom right, 
            $color-marine-blue-light, 
            $color-marine-blue-dark
        );

        transition: all .2s;

        &-title {
            display: inline-block;
            text-align: center;
            font-size: 2rem;
            color: $color-white;
            margin: 5rem 0;
        }

        &-skills {
            align-self: center;

            @include secondaryFont;
            font-size: 1.4rem;
            color: $color-white;

            margin: 0 3rem;
        }

        &:hover {
            transform: scale(1.2);
            z-index: 2;
        }
    }

    &__github,
    &__website,
    &__github:visited,
    &__website:visited {
        align-self: center;

        @include secondaryFont;
        font-size: 1.4rem;
        text-decoration: none;
        color: $color-white;

        padding: 1rem;
        box-shadow: $shadow-light;
        background-color: $color-secondary-darkest;
        transition: all .2s;

        &:hover { background-color: $color-blue-dark };
    }

    &__github:active,
    &__website:active { transform: scale(.95) };

    &__github { margin: 3rem 3rem 1rem 3rem };

    &__website { margin: 1rem 3rem 3rem 3rem };

    &__list-container:hover &__item:not(:hover) { transform: scale(0.95) };
}