.description__cards {
    &-1,
    &-2,
    &-3 {
        height: 18rem;
        background-image: linear-gradient(
            to bottom right, 
            rgba($color-white, .85), 
            rgba($color-white, .85)
        );
        border-radius: $border-radius-smallest;

        display: flex;
        flex-direction: column;

        align-items: center;
        justify-content: center;

        font-size: 1.4rem;
        @include secondaryFont;
        color: $color-blue-darkest;
        text-align: center;

        box-shadow: $shadow-light;
        transition: all .2s;

        p { 
            display: inline;
            margin: 1rem 3rem;
        }

        @include respond(tab-port) {
            font-size: 1.2rem;
            p { margin: 1rem 1rem };
        }

        @include respond(phone) {
            font-size: 1.5rem;
            p { margin: 2rem };
        }
    }

    &-1 { animation: moveInLeftNoBouncing .5s backwards};
    &-2 { animation: moveInLeftNoBouncing .5s .2s backwards};
    &-3 { animation: moveInLeftNoBouncing .5s .5s backwards};

    &-1:hover,
    &-2:hover,
    &-3:hover {
        transform: translateY(-1rem);

        @include respond(tab-land) { transform: translateY(0) };
    }
}

.cards__icon {
    display: inline-block;
    height: 5rem;
    width: 5rem;
    
    fill: $color-blue-darkest;
}